/* Image */
.locations__card-container {
  border: 1px solid black;
  border-bottom: 2px solid black;
  margin: 0.3em;
  padding: 1em;
}
.locations-image {
  width: 100%;
  height: 100%;
  margin-left: 0.3em;
}
.locations-image-hover {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.locations-image-hover:hover {
  transform: scale(1.1);
}

/* title */
.locations__title {
  font-size: 2rem;
  color: green;
  font-family: "Cutive", sans-serif;
  letter-spacing: 1px;
  padding-left: 0.3em;
}

/* all card texts */
.card-text {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  padding-left: 0.3em;
}

/* phone */
.locations__phone {
  text-decoration: none;
  color: black;
}
.locations__phone:hover {
  text-decoration: none;
  text-decoration: none;
}

/* address */
.locations__address {
  padding-top: 1em;
}

/* hours */
.locations__hours {
  padding-bottom: 1em;
}

/* buttons */
.locations__directionButton {
  border: 1px solid black;
  color: black;
}
.locations__directionButton:hover {
  background-color: green;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.locations__orderButton {
  background-color: green;
  color: white;
}
.locations__orderButton:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.locations__orderButton,
.locations__directionButton {
  padding: 1em;
  margin: 0.4em;
  border-radius: 3px;
}
