footer{
    background-color: #0d0d0d;
    color: white;
    padding-top: 2rem;
}

.linkColor{
    color: green;
    font-size: 1.3em;
    letter-spacing: .1em;
}

.linkColor:hover{
    color: orange;
}

#rightReserved{
    border-top: 1.5px solid orange;
    padding-top: 8px;
}

.info-links{
    margin-top: 2.8em;
}