
/* Carousel */

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }

.carousel-caption{
    /* position: absolute; */
    top: 55%;
    transform: translateY(-55%);
}


/* .carousel-inner img{
    width: 100%;
    height: 100%;
} */



.carousel-caption h1{
    font-family: 'Acme', sans-serif,Arial, Helvetica, sans-serif;
    font-size: 5.8rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px orange;
}


/* .carousel-caption h3{
    font-size: 200%;
    font-weight: 200px;
    text-shadow: 1px 1px 10px #000;  
    padding-bottom: 1rem;
} */



.carousel-subtitle{
    font-size: 2.2rem;
    font-family: 'Acme', sans-serif,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px orange;
}

.btn-outline-light{
color: green;
background-color: white;
border: 1px solid orange;
transition: 0.3s;
}
.btn-outline-light:hover{
color: orange;
background-color: green;
}


/* JumpboTron */
.jumbotron{
    padding: 1rem;
    border-radius: 0;
    background-color: black;
   
}
.jumbotron p{
   color: white;
  
}
.btn-outline-secondary{
    background-color: white;
    color:green;
    transition: 0.3s;
   
}
.btn-outline-secondary:hover{
    color: orange;
    background-color: green;
}
.padding{
    padding-bottom:2.5rem;
}


/* welcome */
.welcome{
    padding-top: 2rem;
}
.welcome h1{
    color: orange;
  
   font-size: 4.2rem; 
   text-transform: uppercase;
}

#about-us{
    width: 75%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 1.8em;
}

.fa-cannabis{
    color: green;
}
.welcome hr{
    border-top: 2px solid orange;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.welcome p{
    color: white;
    font-size: 2em;
    padding-top: 1.5em;
    
    
}


/* 3 columb Icons */
.fa-dog, .fa-wheelchair, .fa-money-bill-alt{
    font-size: 3em;
    margin: 1rem;
    color: white;
}


/* text under fas fa icons and heading */
.FasfaText{
    color: white;
    font-size: 1.5em;
   
}
.fasFaHeading{
    color: #A46204;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* dailey Specials */

#Dailey-specials-title{
    text-transform: uppercase;
    font-family: 'acme',Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.single-card{
   align-self: flex-start;
   height: 100%;
   background-color: #171716;
   border-radius: 15px;
   box-shadow: 1px 4px 4px 4px #A46204;
}

.single-card-everyday{
    align-self: flex-start;
    border: 1.5px solid green;
    height: 100%;
    background-color: #615B5D;
    border-radius: 15px;
    box-shadow: 5px 5px 5px forestgreen;
 }



#Dailey-specials-title{
    text-align: center;
    color: white;
    font-size: 3.5em;
}

.card-specials{
  display: flex;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  min-height: 60vh;
  gap: 3em;
  border-radius: 10px;
  margin: 2em;
  
}

.friday-special ul{
list-style: none;
margin: 0;
padding: 0;
}


.title-card{
    font-size: 2.3em;
    text-transform: uppercase;
    color: forestgreen;
    font-weight: 500;
    font-family: 'Acme', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.text-card{
    font-size: 1.4em;
    color: white;
    font-weight: 300;
    padding-top: .5em;
    font-family: 'poppins';
    letter-spacing: 1px;
}






/* SpringBig Section */
.springBigContainer{
    margin: 7em 0;
    padding: 0 1em;
    background-color: #242525
}

#springBigText{
    color: white;
    font-size: 1.3rem; 
}
#springBigHeading{
    color: #A46204;
    margin-bottom: 0.7em;
    font-weight: 600;
    margin: 1em;
}
#springBigtext{
   
    font-size: 1.4em;
    color: white; 
}


.springBigLogo img{
    border-radius: 20px;
    margin: 3em;
}





/* Vendor Button */
.vendor{
    width: 100%;
    margin-bottom: 2em;
}
.vendor:hover{
    color: orange;
    background-color: green;
    cursor: pointer;
}

.vendor-logo{
    border-bottom: 1px solid green;
    margin: 0;
    padding: 0;

}





/* Social Media Connect */
.social a{
    font-size: 2em;
    padding: 3rem;
}
#connectText{
    color: #A46204;
    font-size:2.5em;
}
.fa-facebook{
    color: white;
}
.fa-instagram{
   color: white;
}

.fa-facebook:hover,
.fa-instagram:hover{
    color: teal;
}


@media (max-width: 1520px) {
 /* carousel */
    .carousel-caption{
        top: 39%;
    }
     .carousel-caption h1{
        font-size: 4rem;
    } 
     .carousel-caption h3{
        font-size: 2.5rem;
        font-weight: 400px;
        padding-bottom: .2rem;
        margin-bottom: 2em;
    } 
     .carousel-caption .btn{
        font-size: 1.8rem;
        padding: 8px 14px;
        margin-top: 1em;
    } 

    .card-specials{
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: 55vh;
        align-self: center;
        justify-self: center;
        margin-top: 5em;
        gap: 3em;
        overflow: auto;
         
      }

    /* jumbotron */
    .btn-outline-secondary{
        background-color: white;
        color:green;
        font-size: 18px;
    }

    /* Welcome  */
    .display-4{
        font-size: 250%;
        padding-bottom: 5px; 
    }
}



    @media (max-width: 576px) {

 /* carousel */
    .carousel-caption{
        top: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    .carousel-caption h1{
        font-size: 3.5rem;
        line-height: 1.2em;
        padding-bottom: 0.3em;
        text-align: center;
    }
    .carousel-caption h3{
        font-size: 1.7rem;
     
    }
    .carousel-caption .btn{
    margin-top: .3em;
    font-size: 1.3rem;
    }

    /* weed font text */
    .welcome h1{
        font-size: 2.9rem;
    }
    .welcome p{
        font-size: 1.5em;
    }

    #about-us{
        width: 100%;
        margin: 0 auto;
        letter-spacing: 2px;
        font-size: 1.4em;
    }

/* Three Column Icons */
     .threeColumnImages{
        margin-top: -50px;
        margin-bottom: 2em;
     }

     .fasFaHeading{
         font-size: 1.9em;
     }

     .FasfaText{
         font-size: 1.4em;
     }


/* Dailey Specials */
     .card-specials{
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: 65vh;
        align-self: center;
        justify-self: center;
        margin-top: 5em;
        gap: 3em;
        overflow: auto;
      }

      .title-card{
        font-size: 2em;
        text-transform: uppercase;
        color: forestgreen;
        font-weight: 500;
        font-family: 'Acme', Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }
    
    .text-card{
        font-size: 1em;
        color: white;
        font-weight: 300;
        letter-spacing: 1px;
    }

    #Dailey-specials-title{
        text-align: center;
        color: white;
        font-size: 2.5em;
        margin: 0;
        padding: 0;
    }


     /* springBig */
      .springBigContainer{
        /* margin-top: -5rem; */
        border-top: .1em solid orange;
     }

     #springBigText p{
         font-size: 1.2rem;
         line-height: 1.5em;
     } 


     
   


}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/