@font-face{
    font-family: weedFont;
    src: url(../fonts/Sapphiresativa-0vJ9.ttf)
}

/* Carousel */

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }

.carousel-caption{
    /* position: absolute; */
    top: 55%;
    transform: translateY(-55%);
}


/* .carousel-inner img{
    width: 100%;
    height: 100%;
} */



.carousel-caption h1{
    font-family: 'Acme', sans-serif,Arial, Helvetica, sans-serif;
    font-size: 5.8rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px orange;
}


/* .carousel-caption h3{
    font-size: 200%;
    font-weight: 200px;
    text-shadow: 1px 1px 10px #000;  
    padding-bottom: 1rem;
} */



.carousel-subtitle{
    font-size: 2.2rem;
    font-family: 'Acme', sans-serif,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.btn-outline-light{
color: green;
background-color: white;
border: 1px solid orange;
transition: 0.3s;
}
.btn-outline-light:hover{
color: orange;
background-color: green;
}


/* JumpboTron */
.jumbotron{
    padding: 1rem;
    border-radius: 0;
    background-color: black;
   
}
.jumbotron p{
   color: white;
  
}
.btn-outline-secondary{
    background-color: white;
    color:green;
    transition: 0.3s;
   
}
.btn-outline-secondary:hover{
    color: orange;
    background-color: green;
}
.padding{
    padding-bottom:2.5rem;
}


/* welcome */
.welcome{
    padding-top: 2rem;
}
.welcome h1{
    font-family: weedFont;
   color: black;
   text-shadow: 1px 2px 10px green;
   font-size: 4.2rem; 
}
.fa-cannabis{
    color: green;
}
.welcome hr{
    border-top: 2px solid orange;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.welcome p{
    color: black;
    font-size: 1.9em;
    
    
}


/* 3 columb Icons */
.fa-dog, .fa-wheelchair, .fa-money-bill-alt{
    font-size: 5em;
    margin: 1rem;
    color:black; 
}


/* text under fas fa icons and heading */
.FasfaText{
    color: black;
    font-size: 1.5em;
    font-family: cursive;
}
.fasFaHeading{
    color: green;
    font-size: 1.9rem;
    font-weight: 600;
}


/* SpringBig Section */
#springBigText{
    color:black;
    font-size: 1.3rem; 
}
#springBigHeading{
    color: green;
    margin-bottom: 0.7em;
    font-weight: 600;
}
#springBigtext{
    padding-top: 1em;
    font-size: 1.4em;
    
}


/* Vendor Button */
.vendor{
    width: 100%;
    margin-bottom: 2em;
}
.vendor:hover{
    color: orange;
    background-color: green;
    cursor: pointer;
   
}

.vendor-logo{
    border-bottom: 2px solid orange;
    margin: 0;
    padding: 0;

}





/* Social Media Connect */
.social a{
    font-size: 2em;
    padding: 3rem;
}
#connectText{
    color: green;
    font-size:2.5em;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
   color: #517fa8; 
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: teal;
}


@media (max-width: 768px) {
 /* carousel */
    .carousel-caption{
        top: 35%;
    }
     .carousel-caption h1{
        font-size: 4rem;
    } 
     .carousel-caption h3{
        font-size: 2.5rem;
        font-weight: 400px;
        padding-bottom: .2rem;
        margin-bottom: 2em;
    } 
     .carousel-caption .btn{
        font-size: 1.8rem;
        padding: 8px 14px;
        margin-top: 1em;
    } 

    /* jumbotron */
    .btn-outline-secondary{
        background-color: white;
        color:green;
        font-size: 18px;
    }

    /* Welcome  */
    .display-4{
        font-size: 250%;
        padding-bottom: 5px; 
    }
}



    @media (max-width: 576px) {

 /* carousel */
    .carousel-caption{
        top: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    .carousel-caption h1{
        font-size: 3.5rem;
        line-height: 1.2em;
        padding-bottom: 0.3em;
        text-align: center;
    }
    .carousel-caption h3{
        font-size: 1.7rem;
     
    }
    .carousel-caption .btn{
    margin-top: .3em;
    font-size: 1.3rem;
    }

    /* weed font text */
    .welcome h1{
        font-size: 2.9rem;
    }

    .welcome p{
        font-size: 1.5em;
    }

/* Three Column Icons */
     .threeColumnImages{
        margin-top: -50px;
        margin-bottom: 2em;
     }

     .fasFaHeading{
         font-size: 1.9em;
     }

     .FasfaText{
         font-size: 1.4em;
     }

     /* springBig */
     .springBigContainer{
        margin-top: -5rem;
        border-top: .1em solid orange;
     }

     #springBigText p{
         font-size: 1.2rem;
         line-height: 1.5em;
     }

     /* vendor button */
     .vendor{
         margin-top: -80px
     }


}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/