.Information-heading,
.Products-heading,
.Laws-heading{
text-align: center;
color: orange;
}

.page-wrapper{
    padding: 2em 2em;
}

.page-wrapper p{
    letter-spacing: 2px;
    color: white;
    line-height: 1.3em;
}

.warning{
    color: red;
    font-weight: 900;
}

b{
    color: white;
    text-decoration: underline;
}