.Information-heading,
.Products-heading,
.Laws-heading{
text-align: center;
color: white;
}

.page-wrapper{
    padding: 2em 2em;
}

.page-wrapper p{
    letter-spacing: 1px;
    color: forestgreen;
}

.warning{
    color: red;
    font-weight: 900;
}

b{
    color: white;
}