/* col 1 */
.col-1-rewards{
  margin-top: 1.5rem;
}

.main-img{
  width: 40%;
  padding-bottom: 2em;
}




.rewards-btn{
  background-color:rgb(12, 142, 202);
  color: white;
  padding: .7em;
  margin: .2em;
  border-radius: 5px;
  text-decoration: none;
}

.rewards-btn:hover{
color: orange;
  text-decoration: none;
}

/* == */

/* col 2 */
.rewardQuestions{
max-width: 40%;
margin: 2em;
}

.about-text{
  line-height: 2em;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.FAQs-text{
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.about-text-hr {
  border: 0;
  clear:both;
  display:block;
  width: 65%;               
  background-color: green;
  height: 1px;
}

.FAQs-container{
  padding-top: 1em;
}

/* == */



@media (max-width: 576px ) { 
  .rewardQuestions{
    max-width: 100%;
    margin: 2.5em;
    }

    .main-img{
      width: 70%;
      padding-bottom: 2em;
    }
    

    .main-text{
      font-size: 1.7em;
    }

    .main-sub-text{
      font-size: 1.2em;
    }

    

}

@media  (max-width: 992px) and (min-width: 506px)  {
  .rewardQuestions{
    max-width: 100%;
    margin: 2.5em;
    }

    .main-img{
      width: 50%;
      padding-bottom: 2em;
    }

  
  

}


@media (max-width: 768px) {


  .main-img{
    width: 70%;
    padding-bottom: 2em;
  }
  }























/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
