/* Banner */
.banner-info{
    color: orange;
}

.banner-wrapper {
    background-image: url(../../images/Location_BannerBG.PNG);
    height: 42vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid green;
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* == */ 
}

.banner-directory {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.banner-description {
    font-size: 2.2rem;
    margin-top: .5em;
}
/* <==============> */


.rewards-container{
    background-image: url(../../images/Rewards_Background.jpg);
    background-position: 49%;
    object-fit: cover;
    
}

/* Col-1 */
.main-text {
   font-size: 2rem; 
   padding-top: 1em;
   color: green;
}

.main-img {
    margin: 1em;
    width: 90%; 
}

.btn-join,
.btn-wallet {
padding: .8em;
margin: .8em;
}

.btn-wallet:hover,
.btn-join:hover {
    color: orange;
    background-color: green;
}

/* <==============> */




/* col-2 */
.FAQs-heading,
.aboutHeading {
    font-size: 2.2rem;
    color: green;
    font-weight: 600;
}

.FAQs-subHeading{
    font-size: 1.6rem;
    padding: 0 .5em;
    color: green;
    font-weight: 600;
}

.aboutContainer{
    padding-bottom: .5em;
}

.about-text {
    font-size: 1.3rem;
    padding: 0 1em;
    letter-spacing: 1px;
    
}

.FAQs-container{
border-bottom: 1px solid green;
}

.FAQs-text{
font-size: 1.3rem;
padding: 0 1em;
letter-spacing: 1px;


}

/* form */
form{
    padding-top: 1.5em;
}

input, input[placeholder] {
    text-align: center;
}

textarea, textarea[placeholder] {
    text-align: center;
}
/* <==============> */

/* end-col-2 */
/* <==============> */





/* Mobile */
@media (max-width: 576px) { 

.banner-info {
  margin-bottom: 5em;
  }
}

 /* tablets */
 @media (min-width: 768px) { 
/* col-1 */
.main-img {
    width: 90%;
  }

.main-text {
    font-size: 2.2rem;
  }

/* banner */
.banner-directory {
    font-size: 5rem;
  }

.banner-description {
    font-size: 3rem;
  }

  .banner-info {
    margin-bottom: 7em;
    }

/* form */
.email-label,
.questions-label {
    font-size: 1.4rem;
  }
}










/* desktops */
@media (min-width: 992px) {
    /* col-1 */
   .main-img {
      margin: 1em;
      width: 45%;
    }

    .banner-info {
        margin-bottom: 7em;
    }
}
   


/* large screens */
@media (min-width: 1300px) { 
    /* col-1 */
    .main-img {
      max-width: 45%;
    }
 }




















/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
