
/* Col-1 */
.main-text {
   font-size: 1.5rem; 
   padding-top: 1.5em;
   color: green;
}

.main-img {
    margin: 1em;
    width: 60%; 
    border-radius: 15px;
}

a{
  text-decoration: none;
}

.rewards-btn {
padding: .4em;
margin: .5em;
background-color:#1183ca ;
color: white;
border-radius: 10px;
text-decoration: none;
}

.rewards-btn:hover {
    color: orange;
    background-color: green;
}

/* <==============> */


/* col-2 */
.FAQs-heading,
.aboutHeading {
    font-size: 1.9rem;
    color: orange;
    font-weight: 600;
}

.FAQs-subHeading{
    font-size: 1.4rem;
    padding: 0 .5em;
    color: green;
    font-weight: 600;
}

.aboutContainer{
    padding-top: 1.4em;
}

.about-text {
    font-size: 1.3rem;
    padding: 0 1em;
    letter-spacing: 1px;
    color: white; 
}

.FAQs-container{
    border-bottom: 1px solid green;
}

.FAQs-text{
    font-size: 1.3rem;
    padding: 0 1em;
    letter-spacing: 1px;
    color: white;
}

/* end-col-2 */


/* Mobile */
@media (min-width: 576px) { 

  .main-img {
    width: 50%;
  }

  .main-text {
    font-size: 1.8rem; 
    color: green;
 }
}

 /* tablets */
 @media (min-width: 768px) { 
/* col-1 */
.main-img {
    width: 50%;
  }

.main-text {
    font-size: 2.2rem;
  }
}



/* desktops */
@media (min-width: 992px) {
    /* col-1 */
   .main-img {
      margin: 1em;
      width: 60%;
    }
}
   

/* large screens */
@media (min-width: 1300px) { 
    /* col-1 */
    .main-img {
      max-width: 45%;
    }

 }





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
