.color-nav {
  background-color: rgb(240, 233, 233);
  border-bottom: 2px solid rgb(8, 8, 8);
}

#navbar-link {
  color: green;
  font-size: 1.8rem;
  margin: 0 1em;
}

.navbar-toggler {
  background-color: white;
}

#navbar-link:hover {
  color: orange;
  border-bottom: 1.5px solid green;
  transform: translateY(-10px);
}

/* logo Rotation */
#logo {
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  border-radius: 10px;
  height: 70px;
  margin-left: 2em;
}
#logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media (max-width: 600px) {
  .color-nav {
    height: 50px auto;
  }

  #logo {
    margin-left: 0;
    border-radius: 10px;
    height: 50px;
    max-width: 93px;
  }
}
