.color-nav {
  background-color: rgb(240, 233, 233);
  border-bottom: 2px solid rgb(8, 8, 8);
}

#navbar-link {
  color: green;
  font-size: 1.7rem;
  margin: 0 1em;
}

#navbar-link:hover {
  color: orange;
  border-bottom: 1.5px solid green;
  transform: translateY(-10px);
}

/* logo Rotation */
#logo {
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  border-radius: 10px;
  height: 70px;
}
#logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media (max-width: 600px) {
  .color-nav {
    height: 50px auto;
  }

  #logo {
    border-radius: 10px;
    height: 40px;
    max-width: 68px;
  }
}
