@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Inline&family=Cutive&display=swap");

/* banner-wrappers */
.banner {
  height: 40vh;
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 42vh;
  text-align: center;
  background-color: rgb(223, 186, 139);
  text-transform: uppercase;
  border-bottom: 1.5px solid orange;
}

/* banner texts */
.banner__description,
.banner__message,
.banner__title {
  color: green;
  letter-spacing: 4px;
  font-family: "Cutive", sans-serif;
  padding: 0.3em;
}

.banner__title {
  font-size: 4rem;
}

/* Mobile */
@media (max-width: 576px) {
  .banner__title {
    font-size: 1.7em;
  }

  .banner__description,
  .banner__message {
    font-size: 1.2rem;
    padding: 0.1em;
  }
}

/* tablets */
@media (max-width: 768px) {
  .banner__title {
    font-size: 1.5em;
  }

  .banner__description,
  .banner__message {
    font-size: 1.2rem;
    padding: 0.1em;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
